@import "tailwindcss";

@theme {
  --color-brand-blue: #0D244F;
  --color-brand-red: #BF0A30;
  --color-brand-dark: #212529;
  --color-brand-light: #F8F9FA;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-brand-light text-brand-dark font-sans;
  }
}